/* ========================================================= */
/* === BASE.CSS: Estilos Globales === */
/* ========================================================= */

body {
    margin: 0;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}